<!-- views/admin.ejs -->
 
<%- include('partials/header') %>

<h1>Administrator Access</h1>

<% if (locals.errors) { %>
  <div class="errors">
    <% errors.forEach(error => { %>
      <p style="color: red;"><%= error.msg %></p>
    <% }); %>
  </div>
<% } else if (locals.success) { %>
  <div class="success">
    <% success.forEach(success => { %>
      <p style="color: green;"><%= success.msg %></p>
    <% }); %>
  </div>
<% }; %>

<p>Have an administrator access code? Use it here!</p>

<form action="/admin" method="POST">
  <label for="admin-code">Administrator Code</label>
  <input id="admin-code" name="admin-code" placeholder="admin code" type="text" required /><br>
  <button type="submit">Activate</button>
</form>

<%- include('partials/footer') %>