<!-- views/membership.ejs -->

<!-- let new members put in secret code here; will give them membership/access -->

<%- include('partials/header') %>

<body>
    <h1>i'm the membership page</h1>
</body>
</html>

<%- include('partials/footer') %>