<!-- views/membership.ejs -->

<!-- let new members put in secret code here; will give them membership/access -->

<%- include('partials/header') %>

    <p>i'm the membership page</p>

<%- include('partials/footer') %>