<!-- views/membership.ejs -->

<!-- let new members put in secret code here; will give them membership/access -->

<%- include('partials/header') %>

    <h1>Membership</h1>
    <p>Have a membership code? Use it here!</p>

<%- include('partials/footer') %>