<!-- views/posts.ejs -->

<!-- all posts page; when user logs in, redirect them here-->

<%- include('partials/header') %>

<body>
    <h1>i'm the posts page</h1>
</body>
</html>

<%- include('partials/footer') %>