/* public/css/styles.css */

.message {
    border: 1px solid black;
    width: 500px;
    margin-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.header, .footer {
    text-align: center;
}

button {
    margin-bottom: 20px;
}